<div class="">
  {{#each songs}}
  <div>
    <h3>{{title}}</h3>
    Performed by {{artist}} <img ng-src="{{artistIMG}}"> on the album {{album}} <img ng-src="{{albumIMG}}">
  </div>
  {{/each}}
</div>
